[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydrive = "*"
google-colab = {git = "https://github.com/googlecolab/colabtools.git"}
pandas = "*"

[dev-packages]

[requires]
python_version = "3.6"
